div {
	width: 100px;
	height: 100px;
	background-color: #CF47DA;
	font-size: 30px;
	/*float: left;*/ /*Se acomodan una junto a otra*/
	margin:5px;
}

.cajaPadre {
	width: 500px;
	height: 500px;
	background: #000000;
	position: relative; //El elemento queda dentro del elemento padre y el absolute cuenta desde dentro del padre
}

.caja {
	/*position: static;Es el posicionamiento por defecto*/
	/*position: relative;*/ /*Modifica desde su posicion actual s utiliza top, right...*/
	/*position: absolute;*/ /*Se modifica desde el inicio de la pantalla*/
	/*position: fixed;*/ /*No se mueve a pesar del scroll, se ubica desde el inicio de la pantalla*/
	/*relative:-20px;*/
	margin: auto;
	left:50%;
}


.clear { /*Limpia el float*/
	clear: both;
}