 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
font-family: 'Joti One', cursive;

  }

  main {
    flex: 1 0 auto;
  }
      
.logo{
	width: 50%;	
}
.fuenteNav{
	font-size: 18px;
}
   .parallax-container {
      height: 500px;
      width: auto;
    }

.carousel{
	height: 200px;
}

video{
margin-top: 50px;
box-shadow: 10px 10px 5px #888888;
width: 100%;
height: auto;

}